@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    font-family: 'Ubuntu', sans-serif !important;
    border-color: #eee8e4;
}

.image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.btn {
    padding: 0.5rem 1rem !important;
}

.btn-secondary , .bg-secondary, thead{
    background: linear-gradient(45deg,black,purple);
}
.btn-dark , .bg-dark{
    background: linear-gradient(45deg,black,darkslategray);
}

thead {
    color: white;
}

.table thead tr th {
    font-size: 1rem;
    text-align: center;
    vertical-align: top;
    padding: 0.5rem
}

.table tr {
    text-align: center;
}

.filter-label .form-control {
    height: 1.8rem;
    font-size: .7rem;
}

.product {
    margin: 1.2rem 0;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
  }
